---
import { cn } from '@/utils'
import SkillPillButtons from './SkillPillButtons.astro'
const { title, languages, apis, databases, skills, technologies, class: className } = Astro.props
---

<div class={cn('flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0', className)}>
	<h3 class='w-1/5 font-medium'>{title}</h3>
	<SkillPillButtons
		languages={languages}
		apis={apis}
		databases={databases}
		skills={skills}
		technologies={technologies}
		class={cn(className)}
	/>
</div>
